<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fms.service.mapper.AgentServiceMapper" >
 <select id="getAgentPageList" resultType="java.util.Map" parameterType="com.fms.db.model.Agent">
select t.agent_code      agentCode,
       t.agent_name      agentName,
       t.sex             sex,
       t.mobile          mobile,
       c.com_name        comName, 
       s.store_name      storeName, 
       d.department_name departmentName, 
       t.work_state      workState, 
       t.join_date       joinDate, 
       p.position_code   positionCode, 
       p.grade_code      gradeCode 
  from T_AGENT                t,
       T_AGENT_POSITION_TRACE p, 
       T_DEF_STORE            s, 
       T_DEF_DEPARTMENT       d, 
       T_DEF_COM              c 
 where t.store_id = s.store_id
   and t.department_id = d.department_id
   and t.agent_id = p.agent_id
   and t.com_id = c.com_id
 </select>
 
 <select id="findAgentInfoByCustNo" parameterType="java.util.Map" resultType="java.util.Map">
	select 
		a.AGENT_CODE "agentCode",
		a.AGENT_NAME "agentName",
		a.MOBILE "agentMobile",
		a.EMAIL "agentEmail"
	from 
		t_agent a,
		t_cust_base_info b
	WHERE
		1=1
		AND a.AGENT_ID = b.AGENT_ID
		AND a.RC_STATE = "E"
		AND b.RC_STATE = "E"
		AND b.CUSTOMER_NO = ${customerNo}
 </select>
</mapper>