<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fms.service.mapper.CooperationServiceMapper">

	<!-- 合作机构查询提条件 -->
	<sql id="agencyComListCondition">
		<if test="agencyComId != null and agencyComId !=''">
			AND tb.AGENCY_COM_Id = #{agencyComId}
		</if>
		<if test="agencyType != null and agencyType !=''">
			AND tb.Agency_Type = #{agencyType}
		</if>
		
		<if test="agencyName != null and agencyName !=''">
			AND tb.Agency_Name like '%${agencyName}%'
		</if>

	</sql>
	<!-- 合作机构查询总数 -->
	<select id="agencyComListCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT
		COUNT(1)
		FROM
		T_AGENCY_COM tb
		WHERE
		1=1
		AND
		RC_STATE = 'E'
		<include refid="agencyComListCondition" />
	</select>
	<!-- 合作机构查询信息 -->
	<select id="agencyComListPage" parameterType="java.util.Map"
		resultType="java.util.Map">
		
		<!--s-->
		select
		tAlias.*
		from
		(
		select
		nAlias.*,
		@rownum:=@rownum+1  r_rownum
		from
		(
		select 
		(SELECT @rownum := 0),
		tb.agency_Com_Id "agencyComId",
	       tb.agency_Code "agencyCode",
	       tb.agency_Name "agencyName",
	       CONCAT(TB.AGENCY_TYPE,'-',FUNC_GET_CODE_NAME('agencytype',TB.AGENCY_TYPE)) "agencyType",
	       tc.contacts_name "contactsName",
	       tc.position "position",
	       tc.mobile "mobile"
	  	FROM t_Agency_Com tb LEFT JOIN t_agency_contacts TC
	 	ON 1 = 1
	 		AND TB.AGENCY_COM_ID = TC.AGENCY_COM_ID
	  		WHERE tc.agency_level = '01'
	   		and tb.RC_STATE = 'E'
	   		AND TC.RC_STATE = 'E'
		<include refid="agencyComListCondition" />
		order by tb.AGENCY_COM_ID desc
		) nAlias
		) tAlias
		where
		 r_rownum
		>=#{startIndex}
		and
		#{endIndex} >=  r_rownum
	</select>
	<!-- 合作机构联系人信息查询 -->
	<select id="getAgencyComContactsInfoList" parameterType="java.util.Map"
		resultType="java.util.Map">
		
		<!--s-->
		select b.agency_contacts_id "agencyContactsId",b.agency_level "agencyLevel",
		CONCAT(b.agency_level, '-',FUNC_GET_CODE_NAME('relationLevel', b.agency_level))
		"agencyLevelName",
		b.contacts_name "contactsName",
		CONCAT(b.position,'-',FUNC_GET_CODE_NAME('position', b.position)) "positionName",
		b.position
		"position",
		b.province "province",
		CONCAT(b.province,'-',
		(select
		c.place_name
		from t_def_address c
		where c.place_type = '01'
		and
		c.place_code = b.province)) "provinceName",

		b.city "city",
		CONCAT(b.city,
		'-',(select c.place_name
		from t_def_address c
		where c.place_type =
		'02'
		and c.place_code = b.city)) "cityName",

		b.country "country",
		CONCAT(b.country,'-',
		(select c.place_name
		from t_def_address c
		where
		c.place_type = '03'
		and c.place_code = b.country)) "countryName",
		b.street "street",
		b.zip_code "zipCode",
		b.tel "tel",
		b.fax "fax",
		b.mobile "mobile",
		b.email "email",
		b.webchat "webchat",
		b.remark "remark"
		from t_agency_com
		a, t_agency_contacts b
		where a.agency_com_id = b.agency_com_id
		and
		a.rc_state = 'E'
		and b.rc_state = 'E'
		and a.agency_com_id =
		#{agencyComId}
	</select>

	<sql id="agencyComProtocolListCondition">
		<if test="protocolCode != null and protocolCode !=''" >
      		AND ta.protocol_type = #{protocolCode}
    	</if>
    	<if test="agencyComId != null and agencyComId !=''" >
      		AND ta.agency_com_id = #{agencyComId}
    	</if>
    	<if test="protocolName != null and protocolName !=''" >
      		AND ta.protocol_name like '%${protocolName}%'
    	</if>
	</sql>

	<sql id="agencyComSubProtocolListCondition">
		<if test="protocolCode != null and protocolCode !=''" >
      		AND tb.subprotocol_type = #{protocolCode}
    	</if>
    	<if test="agencyComId != null and agencyComId !=''" >
      		AND ta.agency_com_id = #{agencyComId}
    	</if>
    	<if test="protocolName != null and protocolName !=''" >
      		AND tb.subprotocol_name like '%${protocolName}%'
    	</if>
	</sql>

	<!-- 合作机构协议信息总数 -->
	<select id="agencyComProtocolListCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
			
		<!--s-->
		select sum(count_)
		from
		((SELECT COUNT(1) count_
		 FROM t_agency_sub_protocol tb,t_agency_protocol ta
		 where tb.rc_state = 'E' 
			   and ta.rc_state = 'E'
			   and tb.agency_protocol_id = ta.agency_protocol_id
		 <include refid="agencyComSubProtocolListCondition"/>
		 )
		union all
		(SELECT COUNT(1) count_
		 FROM t_agency_protocol ta
		 WHERE 1=1 AND RC_STATE = 'E'
		  <include refid="agencyComProtocolListCondition"/>))as t
	</select>


	<!-- 合作机构协议列表信息查询 -->
	<select id="agencyComProtocolListPage" parameterType="java.util.Map"
		resultType="java.util.Map">
		<!--s-->
		select tAlias.* from(
         	select nAlias.*, @rownum:=@rownum+1  r_rownum from
         	(
		  select *
			  from ((select ta.agency_com_id "agencyComId",
			                (SELECT @rownum := 0),
			                (select agencyCom.agency_code
			                   from t_Agency_Com agencyCom
			                  where agencyCom.agency_com_id = ta.agency_com_id) "agencyCode",
			                (select agencyCom.agency_name
			                   from t_Agency_Com agencyCom
			                  where agencyCom.agency_com_id = ta.agency_com_id) "agencyName",
			                ta.agency_protocol_id "protocolId",
			                ta.protocol_code "protocolCode",
			                ta.protocol_name "protocolName",
			                FUNC_GET_CODE_NAME('protocolType',ta.protocol_type) "protocolType",
			                ta.protocol_type "protocolTypeCode",
			                FUNC_GET_CODE_NAME('protocolState',ta.protocol_state) "protocolState"
			               
			           from t_agency_protocol ta
			          where ta.rc_state = 'E'
			          		<include refid="agencyComProtocolListCondition"/>
			          		) 
			   union
			        (select ta.agency_com_id "agencyComId",
			                (SELECT @rownum := 0),
			                (select agencyCom.agency_code
			                   from t_Agency_Com agencyCom
			                  where agencyCom.agency_com_id = ta.agency_com_id) "agencyCode",
			                (select agencyCom.agency_name
			                   from t_Agency_Com agencyCom
			                  where agencyCom.agency_com_id =ta.agency_com_id) "agencyName",
			                tb.agenct_sub_protocol_id "protocolId",
			                tb.subprotocol_code "protocolCode",
			                tb.subprotocol_name "protocolName",
			                FUNC_GET_CODE_NAME('protocolType',tb.subprotocol_type) "protocolType",
			                tb.subprotocol_type "protocolTypeCode",
			               FUNC_GET_CODE_NAME('protocolState',tb.subprotocol_state) "protocolState"
			             
			           from t_agency_sub_protocol tb,t_agency_protocol ta
			          where tb.rc_state = 'E' 
			                and ta.rc_state = 'E'
			                and tb.agency_protocol_id = ta.agency_protocol_id
			                <include refid="agencyComSubProtocolListCondition"/>
			               )) as t
			    ) nAlias
		) tAlias   where r_rownum >=#{startIndex} and #{endIndex} >= r_rownum
	</select>
</mapper>