<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fms.service.mapper.NetValueServiceMapper">
	<sql id="netValueQueryListCondition">
	     <!-- 如果合作机构不为空，并且产品代码为空 -->
	     <if test='agencyComId!= null and agencyComId!=""'> 
	        and A.Pd_Wealth_Id in(
	          select b.pd_wealth_id
	          from t_pd_wealth b, t_pd_product c,t_agency_com f
	          where b.product_id = c.product_id and c.agency_com_id=f.agency_com_id
	          and f.agency_com_id= ${agencyComId}
	           )
		</if>
		<!-- 只要产品不为空 -->
		<if test='productId!= null and productId!=""'>
		
		       and A.Pd_Wealth_Id in
                   (select b.pd_wealth_id
                      from t_pd_wealth b, t_pd_product c
                     where c.product_id = b.product_id
                       and b.product_id = #{productId}
                       and b.rc_state = 'E'
                       and c.rc_state = 'E')
		</if>
		
		<if test='publicDateStartDate!=null and publicDateStartDate!=""'>
		 and  A.Public_Date >=STR_TO_DATE(#{publicDateStartDate},'%Y-%m-%d')
		</if>
		<if test='publicDateEndDate!=null and publicDateEndDate!=""'>
		 and STR_TO_DATE(#{publicDateEndDate},'%Y-%m-%d')>= A.Public_Date
		</if>
	</sql>
	<!-- 净值信息初始页面查询 -->
	<select id="netValueQueryListCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM t_pd_wealth_net_value A
		WHERE 1=1 and A.RC_STATE = 'E' 
		<include refid="netValueQueryListCondition"/>
	</select>
	<select id="netValueQueryListPage" parameterType="java.util.Map"
		resultType="java.util.Map">
		
		 <!--s-->
		select tAlias.*
		from (select nAlias.*, @rownum:=@rownum+1 r_rownum
		from
		(SELECT (SELECT @rownum := 0),
		A.pd_wheal_net_value_id "wealthNetValueId",
       (select b.agency_name
          from t_agency_com b, t_pd_product c, t_pd_wealth f
         where A.PD_WEALTH_ID = f.pd_wealth_id
           and f.product_id = c.product_id
           and c.agency_com_id = b.agency_com_id) "agentName",
       (select c.product_code
          from t_pd_wealth b, t_pd_product c
         where b.product_id = c.product_id
           and A.pd_wealth_id = b.pd_wealth_id) "productCode",
       (select c.product_name
          from t_pd_wealth b, t_pd_product c
         where b.product_id = c.product_id
           and A.pd_wealth_id = b.pd_wealth_id) "productName",
       (select c.product_Id
          from t_pd_wealth b, t_pd_product c
         where b.product_id = c.product_id
           and A.pd_wealth_id = b.pd_wealth_id) "productId",
        DATE_FORMAT(A.Public_Date, '%Y-%m-%d') "publicDate",
       A.Net_Value "netValue"
  FROM t_pd_wealth_net_value A
 WHERE 1 = 1
 <include refid="netValueQueryListCondition"/>
   and A.RC_STATE = 'E' 
 order by (select b.agency_name
          from t_agency_com b, t_pd_product c, t_pd_wealth f
         where A.PD_WEALTH_ID = f.pd_wealth_id
           and f.product_id = c.product_id
           and c.agency_com_id = b.agency_com_id), A.Public_Date desc) nAlias) tAlias
		where r_rownum >= #{startIndex}
		and
		#{endIndex} >= r_rownum
	</select>
	<!-- 查询净值信息 含费用类型 -->
	<sql id="netValueQueryCondition">
	     <!-- 如果合作机构不为空，并且产品代码为空 -->
	     <if test='valueComId != null and valueComId != ""'> 
	        and A.Pd_Wealth_Id in(
	          select b.pd_wealth_id
	          from t_pd_wealth b, t_pd_product c,t_agency_com f
	          where b.product_id = c.product_id and c.agency_com_id=f.agency_com_id
	          and f.agency_com_id= ${valueComId}
	           )
		</if>
		<!-- 只要产品不为空 -->
		<if test='valueProductId != null and valueProductId != ""'>
		
		       and A.Pd_Wealth_Id in
                   (select b.pd_wealth_id
                      from t_pd_wealth b, t_pd_product c
                     where c.product_id = b.product_id
                       and b.product_id = #{valueProductId}
                       and b.rc_state = 'E'
                       and c.rc_state = 'E')
		</if>
		
		<if test='publicDate != null and publicDate != ""'>
		 and  A.Public_Date = STR_TO_DATE(#{publicDate},'%Y-%m-%d')
		</if>
		<if test='valueType != null and valueType != ""'>
		  and A.NET_TYPE = #{valueType}
		</if>
	</sql>
	<select id="netValueQueryCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM t_pd_wealth_net_value A
		WHERE 1=1 and A.RC_STATE = 'E' 
		<include refid="netValueQueryCondition"/>
	</select>
	<select id="netValueQueryList" parameterType="java.util.Map" resultType="java.util.Map">
				SELECT
					A.pd_wheal_net_value_id "wealthNetValueId",
					(
						SELECT
							b.agency_name
						FROM
							t_agency_com b,
							t_pd_product c,
							t_pd_wealth f
						WHERE
							A.PD_WEALTH_ID = f.pd_wealth_id
						AND f.product_id = c.product_id
						AND c.agency_com_id = b.agency_com_id
					) "agentName",
					(
						SELECT
							c.product_code
						FROM
							t_pd_wealth b,
							t_pd_product c
						WHERE
							b.product_id = c.product_id
						AND A.pd_wealth_id = b.pd_wealth_id
					) "productCode",
					(
						SELECT
							c.product_name
						FROM
							t_pd_wealth b,
							t_pd_product c
						WHERE
							b.product_id = c.product_id
						AND A.pd_wealth_id = b.pd_wealth_id
					) "productName",
					(
						SELECT
							c.product_Id
						FROM
							t_pd_wealth b,
							t_pd_product c
						WHERE
							b.product_id = c.product_id
						AND A.pd_wealth_id = b.pd_wealth_id
					) "productId",
					DATE_FORMAT(A.Public_Date, '%Y-%m-%d') "publicDate",
					A.Net_Value "netValue",
					FUNC_GET_CODE_NAME('netValueType',A.NET_TYPE) "netValueType",
					CASE
					WHEN
					(
					SELECT
					COUNT(1)
					FROM
					t_pd_wealth_open_date B
					WHERE
					A.PUBLIC_DATE = B.OPEN_DATE
					AND A.PD_WEALTH_ID = B.PD_WEALTH_ID
					AND B.RC_STATE = 'E'
					)>0 
					THEN '是'
					ELSE '否'
					END 'wheatherOpenDay'
				FROM
					t_pd_wealth_net_value A
				WHERE
					1 = 1 
				<include refid="netValueQueryCondition"/>
				AND A.RC_STATE = 'E'
				ORDER BY
					productId,
					A.Public_Date 
				LIMIT #{startIndex},#{endIndex}
			
	</select>
	<!-- 净值新增附件信息列表查询 -->
	<select id="netValueFileQueryListPage" parameterType="java.util.Map"
		resultType="java.util.Map">
		
		 <!--s-->
		select tAlias.*
		from (select nAlias.*, @rownum:=@rownum+1 r_rownum
		from
		(SELECT        (SELECT @rownum := 0),
		                A.FILE_INFO_ID "id",
                        (select b.code_name
                           From t_def_code b
                          where b.code = a.business_type
                            and b.code_type = 'businessType') "attachType",
                        a.file_describe "description",
                        a.file_name "fileName"
                  FROM T_DEF_FILE_INFO A
                 WHERE 1 = 1
                   and A.RC_STATE = 'E') nAlias) tAlias
		where  r_rownum  >= #{startIndex}
		and
		#{endIndex} >= r_rownum
	</select>

	<select id="netValueFileQueryListCount" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		SELECT COUNT(1)
		FROM T_DEF_FILE_INFO A
		WHERE 1=1
	</select>

</mapper>  