<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.fms.service.mapper.RedemptionServiceMapper">

	<sql id="queryCustomerPrivilegeControl">
		<!-- 以下是查询权限控制 3-本机构及下属机构数据，2-本机构数据，1-本人数据-->
    	<if test='rolePrivilege!=null and rolePrivilege!="" and rolePrivilege=="1"'>
 			(select x.agent_id
                                from t_agent x
                               where x.user_id = #{userId}
                                 and x.rc_state = 'E')
    	</if>
    	<if test='rolePrivilege!=null and rolePrivilege!="" and rolePrivilege=="2" '>
    		(select x.agent_id
                              from t_agent x
                                where x.com_id = #{operComId}
                                  and x.rc_state = 'E')
    	</if>
    	<if test='rolePrivilege!=null and rolePrivilege!="" and rolePrivilege=="3" '>
    	
    	  <!--S-->
    	  
    		(select x.agent_id
                 from t_agent x
                where x.com_id in 
                      (<!-- SELECT Y.COM_ID
                         FROM T_DEF_COM Y
                        WHERE Y.RC_STATE = 'E'
                          AND Y.STATE = '01'
                        START WITH Y.COM_ID = #{operComId}
                       CONNECT BY PRIOR Y.COM_ID = Y.PARENT_COM_ID -->
                       
                       select Y.COM_ID from t_def_com Y 
						where FIND_IN_SET(Y.COM_ID, queryChildrenNodeInfo(#{operComId}))
                       )
                  and x.rc_state = 'E')
    	</if>
    	<!-- 权限控制结束 -->
	</sql>

    <!-- 赎回客户查询 -->
	<select id="customerQuery" parameterType="java.util.Map" resultType="java.util.Map">
       select a.customer_no "custNo", a.chn_name "custName", a.cust_base_info_id "custBaseInfoId"
         from t_cust_base_info a
        where a.rc_state = 'E'
              and a.agent_id in
              <include refid="queryCustomerPrivilegeControl"/>
	</select>
    
    <!-- 赎回交易信息查询 -->
    <select id="queryTradeInfoByCustandPro" parameterType="java.util.Map" resultType="java.util.Map">
    
     <!--s-->
     
     SELECT
     	distinct 
     	A.TRADE_INFO_ID "tradeInfoId",
         A.TRADE_NO "tradeNo",
         FUNC_GET_CODE_NAME('beneficialType', IFNULL(E.beneficialType, '015')) "benefitType",
         E.expectOpenDay "expectOpenDay",
         k.subscription_copies  "subscriptShare",
         FUNC_GET_ALL_REDEMPTION_SHARE(A.TRADE_INFO_ID) "aleadyRedemptionShare",
         k.subscription_copies <![CDATA[-]]>
         FUNC_GET_ALL_REDEMPTION_SHARE(A.TRADE_INFO_ID) "currentShare",
         k.subscription_copies <![CDATA[-]]>
         FUNC_GET_ALL_REDEMPTION_SHARE(A.TRADE_INFO_ID) "redeemableShare",
         k.subscription_copies <![CDATA[-]]>
         FUNC_GET_ALL_REDEMPTION_SHARE(A.TRADE_INFO_ID) "residualShare",
         H.BANK_NAME "bankName",
         G.BANK_ACC_NO "bankNo"
      FROM T_TRADE_INFO A
     INNER JOIN T_TRADE_CUST_INFO B
        ON A.TRADE_INFO_ID = B.TRADE_INFO_ID
       AND B.RC_STATE = 'E'
     INNER JOIN T_CUST_BASE_INFO C
        ON C.CUST_BASE_INFO_ID = B.CUST_BASE_INFO_ID
       AND C.RC_STATE = 'E'
       AND C.CUSTOMER_NO = #{custNo}
     INNER JOIN T_TRADE_PRODUCT_INFO_VIEW E
        ON E.TRADE_INFO_ID = A.TRADE_INFO_ID
       AND E.PRODUCT_ID =#{productId}
     INNER JOIN T_TRADE_CUST_ACC_RELA F
        ON F.TRADE_CUST_INFO_ID = B.TRADE_CUST_INFO_ID
       AND F.RC_STATE = 'E'
       AND F.TRADE_ACC_FLAG = '1'
     left join t_trade_status_info K
       on k.trade_info_id=a.trade_info_id
       and k.rc_state='E'
     INNER JOIN T_CUST_ACC_INFO G
        ON G.CUST_ACC_INFO_ID = F.CUST_ACC_INFO_ID
     INNER JOIN T_DEF_BANK H
        ON H.BANK_ID = G.BANK_CODE
     WHERE A.RC_STATE = 'E'
       AND A.TRADE_STAUS = '10'
      order by  E.expectOpenDay asc
	</select>

    <!-- 赎回对应开放日查询 -->
	<select id="redemptionOpenDayQuery" parameterType="java.util.Map" resultType="java.util.Map">
	
	 <!--s-->
	 
	select a.product_id "productId",
		       IFNULL(DATE_FORMAT(c.open_date, '%Y-%m-%d'),
		           DATE_FORMAT(b.found_date, '%Y-%m-%d')) "openDate"
		  from t_pd_product a
		  left join t_pd_wealth b
		    on a.product_id = b.product_id
		   and b.rc_state = 'E'
		  left join t_pd_wealth_open_date c
		    on c.pd_wealth_id = b.pd_wealth_id
		   and c.rc_State = 'E'
		 where a.product_id = ${productId}
		  order by openDate desc
	</select>
    
    <!-- 赎回开放日对应的净值查询(提取费后净值) -->
	<select id="queryNetValueByOpenDay" parameterType="java.util.Map" resultType="java.util.Map">
	
	 <!--s-->
	 
 	 select c.net_value "netValue",
 	        c.net_type  "netType",
         DATE_FORMAT(c.public_date, '%Y-%m-%d') "publicDay"
    from t_pd_product a, t_pd_wealth b, t_pd_wealth_net_value c
   where b.product_id = a.product_id
     and c.pd_wealth_id = b.pd_wealth_id
     and a.product_id = #{productId}
     and c.public_date = (select max(e.public_date)
                            from t_pd_wealth_net_value e
                           where e.pd_wealth_id = b.pd_wealth_id
                             and a.rc_state = 'E')
     and b.rc_State = 'E'
     and c.rc_State = 'E'
	</select>
	
	<!-- 获取某个客户某个产品实际已赎回的份额 -->
	<select id="queryAlreadyRedemptionTotalShare" parameterType="java.util.Map" resultType="java.math.BigDecimal">
	
	 <!--s-->
	 
	select IFNULL(sum(a.actu_redemption_total_share),0) "actualRedemptionShare"
	   from t_redemption_info a
	   where a.rc_state = 'E'
	   and a.customer_no = #{custNo}
	   and a.pd_product_id = #{productId}
	   and a.redemption_status = '04'
	</select>
	
    <!-- 获取某个客户某个产品初始认购的总份额 -->
	<select id="querysubscribeTotalShare" parameterType="java.util.Map" resultType="java.math.BigDecimal">
	
	 <!--s-->
	 
     	select IFNULL(sum(f.subscription_copies), 0)
	  from t_trade_product_info_view a,
	       t_trade_cust_info         b,
	       t_cust_base_info          c,
	       t_trade_info              e,
	       t_trade_status_info      f
	 where a.PRODUCT_ID = ${productId}
	   and a.TRADE_INFO_ID = b.trade_info_id
	   and a.TRADE_INFO_ID=f.trade_info_id 
     and f.rc_state='E'
	   and b.rc_state = 'E'
	   and b.cust_base_info_id = c.cust_base_info_id
	   and c.rc_state = 'E'
	   and a.TRADE_INFO_ID = e.trade_info_id
	   and e.rc_state = 'E'
	   and e.trade_staus = '10'
	   AND f.TRADE_STATUS = "10"
	   and c.customer_no = #{custNo}
	</select>
	
	
	<!-- 交易赎回查询条件 -->
	<sql id="tradeRedemptionQueryListCondition">
		<if test='productId!= null and productId!=""'>
			AND A.PD_PRODUCT_ID=#{productId}
		</if>
		<if test='custNo!= null and custNo !=""'>
			AND A.CUSTOMER_NO=#{custNo}
		</if>
		<if test='redemptionStatus!= null and redemptionStatus !=""'>
			AND A.redemption_status=#{redemptionStatus}
		</if>
	</sql>
	<!-- 交易赎回查询语句 -->
	<select id="tradeRedemptionQueryListPage" parameterType="java.util.Map" resultType="java.util.Map">
	
	<!--F-->
		select tAlias.*
		from (select nAlias.*,@rownum:=@rownum+1 r_rownum
		from
		(select (SELECT @rownum := 0),
		a.redemption_info_id "redemptionInfoId",
       a.pd_product_id "productId",
       b.product_name "productName",
       e.agency_name "agencyName",
       a.customer_no "custNo",
       c.chn_name "custName",
       DATE_FORMAT(a.redemption_apply_date, '%Y-%m-%d') "applyDate",
       DATE_FORMAT(a.redemption_openday, '%Y-%m-%d') "openDay",
       a.redemption_total_share "redemptionTotalShare",
       a.remaining_total_share "remainingTotalShare",
       a.reference_net_value "referenceNetValue",
       IFNULL(a.actu_redemption_total_share,'0') "actualRedemptionShare",
       FUNC_GET_CODE_NAME('redemptionStatus',a.redemption_status) "redemptionStatus",
       a.redemption_status "redemptionStatusCode",
         (select f.isback from t_redemption_operation f
         where f.redemption_info_id = a.redemption_info_id
           and f.operate_node = '02' and f.isback='Y' and @rownum=1) "isback"
	   from t_redemption_info a,
	       t_pd_product      b,
	       t_cust_base_info  c,
	       t_agency_com      e
	 where a.rc_state = 'E'
	   and a.pd_product_id = b.product_id
	   and b.rc_state = 'E'
	   and b.status = '2'
	   and c.rc_state = 'E'
	   and a.customer_no = c.customer_no
	   and b.agency_com_id = e.agency_com_id
	   and e.rc_state = 'E'
	   <include refid="tradeRedemptionQueryListCondition"/>
	   and c.agent_id in
      <include refid="queryCustomerPrivilegeControl"/>
	order by a.redemption_info_id desc) nAlias) tAlias
		where r_rownum  >=#{startIndex}
		and   #{endIndex} >= r_rownum 
	</select>
	<!-- 交易赎回查询语句 -->
	<select id="tradeRedemptionQueryListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
  select count(1)
  from t_redemption_info a,
       t_pd_product      b,
       t_cust_base_info  c,
       t_agency_com      e
   where a.rc_state = 'E'
   and a.pd_product_id = b.product_id
   and b.rc_state = 'E'
   and b.status = '2'
   and c.rc_state = 'E'
   and a.customer_no = c.customer_no
   and b.agency_com_id = e.agency_com_id
   and e.rc_state = 'E'
   and c.agent_id in
   	<include refid="queryCustomerPrivilegeControl"/>
	<include refid="tradeRedemptionQueryListCondition"/>
	</select>
	
	 <!-- 获取修改赎回交易信息查询 -->
    <select id="getUpdateTradeRedemptionInfo" parameterType="java.util.Map" resultType="java.util.Map">
    
    <!--s-->
    
  select 
  	distinct
  a.trade_info_id "tradeInfoId",
       b.trade_no "tradeNo",
       e.expectOpenDay  "expectOpenDay",
       FUNC_GET_CODE_NAME('beneficialType',
                                     IFNULL(e.beneficialType, '015')) "benefitType",
       f.subscription_copies "subscriptShare",
       FUNC_GET_ALL_REDEMPTION_SHARE(A.TRADE_INFO_ID) "aleadyRedemptionShare",
       
       f.subscription_copies<![CDATA[-]]>
       FUNC_GET_ALL_REDEMPTION_SHARE(A.TRADE_INFO_ID) "currentShare",
       f.subscription_copies<![CDATA[-]]>
       FUNC_GET_ALL_REDEMPTION_SHARE(A.TRADE_INFO_ID) "redeemableShare",
        f.subscription_copies<![CDATA[-]]>
       FUNC_GET_ALL_REDEMPTION_SHARE(A.TRADE_INFO_ID) "residualShare",
      TRIM(a.redemption_share)"redemptionShare",
       IF(IFNULL(a.actual_redemption_share,0)=0,TRIM(a.redemption_share),TRIM(a.actual_redemption_share)) "actualRedemptionShare",
       (select k.bank_name from t_def_bank k where k.bank_id = h.bank_code) "bankName",
       h.bank_acc_no "bankNo"
    from t_redemption_trade_info   a,
       t_trade_info              b,
       t_redemption_info         c,
       t_trade_product_info_view e,
       t_trade_status_info       f,
       t_cust_acc_info           h,
       t_trade_cust_info         j,
       t_trade_cust_acc_rela     g
   where a.redemption_info_id =#{redemptionInfoId}
     and a.rc_state = 'E'
     and a.trade_info_id = b.trade_info_id
     and b.rc_state = 'E'
     and b.trade_info_id = e.TRADE_INFO_ID
     and c.redemption_info_id = a.redemption_info_id
     and c.rc_state = 'E'
     and f.trade_info_id = b.trade_info_id
     and f.rc_state = 'E'
     and a.trade_info_id = j.trade_info_id
     and j.rc_State = 'E'
     and j.trade_cust_info_id = g.trade_cust_info_id
     and g.rc_state = 'E'
     and g.trade_acc_flag = '1'
     and g.cust_acc_info_id = h.cust_acc_info_id
    order by a.trade_info_id
	</select>
	
	<!-- 获取修改赎回客户和产品信息-->
    <select id="getRedemptionCustProInfo" parameterType="java.util.Map" resultType="java.util.Map">
  	select a.customer_no   "custName",
         a.pd_product_id "productName",
         b.id_no         "idNo"
    	from t_redemption_info a, t_cust_base_info b
   		where a.redemption_info_id = #{redemptionInfoId}
     	and a.customer_no = b.customer_no
     	and a.rc_state = 'E'
     	and b.rc_state = 'E'
	</select>
	
	<!--赎回确认查询条件 -->
	<sql id="queryRedemptionConfirmListCondition">
		<if test='productId!= null and productId!=""'>
			AND A.PD_PRODUCT_ID=#{productId}
		</if>
		<if test='custNo!= null and custNo !=""'>
			AND A.CUSTOMER_NO=#{custNo}
		</if>
	</sql>
	<!-- 赎回确认查询语句-->
	<select id="queryRedemptionConfirmListPage" parameterType="java.util.Map" resultType="java.util.Map">
	
	<!--F-->
		select tAlias.*
		from (select nAlias.*, @rownum:=@rownum+1 r_rownum
		from
		(select (SELECT @rownum := 0),
		a.redemption_info_id "redemptionInfoId",
       a.pd_product_id "productId",
       b.product_name "productName",
       e.agency_name "agencyName",
       a.customer_no "custNo",
       c.chn_name "custName",
       DATE_FORMAT(a.redemption_apply_date, '%Y-%m-%d') "applyDate",
       DATE_FORMAT(a.redemption_openday, '%Y-%m-%d') "openDay",
       a.redemption_total_share "redemptionTotalShare",
       a.remaining_total_share "remainingTotalShare",
       c.agent_id "agentId",
       f.agent_name "agentName",
       a.reference_net_value "referenceNetValue",
			 FUNC_GET_CODE_NAME('redemptionStatus',a.redemption_status) "redemptionStatus",
       a.redemption_status "redemptionStatusCode",
       (select f.isback from t_redemption_operation f
         where f.redemption_info_id = a.redemption_info_id
           and f.operate_node  in('02','03') and f.isback='Y'
           and @rownum=1
         ) "isback"
     from t_redemption_info a,
         t_pd_product      b,
         t_cust_base_info  c,
         t_agency_com      e,
         t_agent f    
   where a.rc_state = 'E'
     and a.pd_product_id = b.product_id
     and b.rc_state = 'E'
     and b.status = '2'
     and c.agent_id=f.agent_id
     and f.rc_state='E'
     and c.rc_state = 'E'
     and a.customer_no = c.customer_no
     and b.agency_com_id = e.agency_com_id
     and e.rc_state = 'E'
     and a.redemption_status='02'
    <include refid="queryRedemptionConfirmListCondition"/>
     and c.agent_id in
    <include refid="queryCustomerPrivilegeControl"/>
    order by a.redemption_info_id desc) nAlias) tAlias
		where r_rownum >=#{startIndex}
		and   #{endIndex} >=r_rownum
	</select>
	
	<!-- 赎回确认查询语句 -->
	<select id="queryRedemptionConfirmListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select count(1)
  	from t_redemption_info a,
       t_pd_product      b,
       t_cust_base_info  c,
       t_agency_com      e
   where a.rc_state = 'E'
   and a.pd_product_id = b.product_id
   and b.rc_state = 'E'
   and b.status = '2'
   and c.rc_state = 'E'
   and a.customer_no = c.customer_no
   and b.agency_com_id = e.agency_com_id
   and e.rc_state = 'E'
   and a.redemption_status='02'
   and c.agent_id in
   <include refid="queryCustomerPrivilegeControl"></include>
	<include refid="queryRedemptionConfirmListCondition"/>
	</select>
	
	<!--赎回确认查询条件 -->
	<sql id="queryRedemptionUploadInfoListCondition">
		<if test='productId!= null and productId!=""'>
			AND A.PD_PRODUCT_ID=#{productId}
		</if>
		<if test='custNo!= null and custNo !=""'>
			AND A.CUSTOMER_NO=#{custNo}
		</if>
		<if test='redemptionStatus!= null and redemptionStatus !=""'>
			AND A.redemption_status=#{redemptionStatus}
		</if>
	</sql>
	<!-- 赎回确认查询语句-->
	<select id="queryRedemptionUploadInfoListPage" parameterType="java.util.Map" resultType="java.util.Map">
	
	<!--F-->
		select tAlias.*
		from (select nAlias.*, @rownum:=@rownum+1 r_rownum
		from
		(select (SELECT @rownum := 0),
		a.redemption_info_id "redemptionInfoId",
       a.pd_product_id "productId",
       b.product_name "productName",
       e.agency_name "agencyName",
       a.customer_no "custNo",
       c.chn_name "custName",
       DATE_FORMAT(a.redemption_apply_date, '%Y-%m-%d') "applyDate",
       DATE_FORMAT(a.redemption_openday, '%Y-%m-%d') "openDay",
       a.redemption_total_share "redemptionTotalShare",
       a.remaining_total_share "remainingTotalShare",
       c.agent_id "agentId",
       f.agent_name "agentName",
       a.reference_net_value "referenceNetValue",
       FUNC_GET_CODE_NAME('redemptionStatus',a.redemption_status) "redemptionStatus",
       a.redemption_status "redemptionStatusCode",
          (select f.isback from t_redemption_operation f
         where f.redemption_info_id = a.redemption_info_id
           and f.operate_node  in('03') and f.isback='Y'
           and @rownum=1
         ) "isback"
     from t_redemption_info a,
         t_pd_product      b,
         t_cust_base_info  c,
         t_agency_com      e,
         t_agent f    
   where a.rc_state = 'E'
     and a.pd_product_id = b.product_id
     and b.rc_state = 'E'
     and b.status = '2'
     and c.agent_id=f.agent_id
     and f.rc_state='E'
     and c.rc_state = 'E'
     and a.customer_no = c.customer_no
     and b.agency_com_id = e.agency_com_id
     and e.rc_state = 'E'
<!--      and a.redemption_status in('03','04')    -->    
    <include refid="queryRedemptionUploadInfoListCondition"/>
     and c.agent_id in
    <include refid="queryCustomerPrivilegeControl"/>
    order by a.redemption_info_id desc) nAlias) tAlias
		where r_rownum >=#{startIndex}
		and   #{endIndex} >= r_rownum 
	</select>
	
    <!-- 赎回明细上传查询语句 -->
	<select id="queryRedemptionUploadInfoListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select count(1)
  	from t_redemption_info a,
       t_pd_product      b,
       t_cust_base_info  c,
       t_agency_com      e
   where a.rc_state = 'E'
   and a.pd_product_id = b.product_id
   and b.rc_state = 'E'
   and b.status = '2'
   and c.rc_state = 'E'
   and a.customer_no = c.customer_no
   and b.agency_com_id = e.agency_com_id
   and e.rc_state = 'E'
 	<include refid="queryRedemptionUploadInfoListCondition"/>
 	and c.agent_id in
    <include refid="queryCustomerPrivilegeControl"/>
	</select>
<!--获取赎回申请单打印信息-->
	<select id="getRedemptionFormInfo"  parameterType="java.util.Map" resultType="java.util.Map">
	
  <!--s-->
  
		select 
		DISTINCT 
	   a.redemption_info_id "redemptionInfoId",
       b.product_name "productName",
       c.chn_name "custName",
       c.id_no "idNo",
       FUNC_GET_CODE_NAME('idType', c.id_type) "idType",
       e.mobile "mobile",
       e.email "email",
       CONCAT(FUNC_GET_PLACE_NAME('01', j.province),
       FUNC_GET_PLACE_NAME('02', j.city),
			 FUNC_GET_PLACE_NAME('03', j.country),j.street) "address",
       l.acc_name "accName",
       l.bank_acc_no "bankNo",
       CONCAT(m.bank_name,l.branch_bank_name) "bankName",
       n.agency_code "agencyCode",
       j.zip_code "zipCode",
       n.agency_name "agencyName",
       DATE_FORMAT(a.redemption_openday,'%Y-%m-%d') "redemptionOpenday",
       IFNULL(a.actu_redemption_total_share, a.redemption_total_share) "redemptionShare",
       o.agent_name "agentName",
       o.agent_code "agentCode",
       DATE_FORMAT(a.redemption_apply_date,'%Y-%m-%d') "redemtpionApplyDate",
       x.CLOSE_DPERIOD_FEE "redemptionFee",
	  <!-- (CASE   WHEN  X.CLOSE_DPERIOD_UNIT = 'Y' THEN
				X.CLOSE_DPERIODS *12
				WHEN X.CLOSE_DPERIOD_UNIT = 'M' THEN
				X.CLOSE_DPERIODS
				ELSE
				FLOOR(X.CLOSE_DPERIODS/30)
				END
			) "closeDate" -->
			IFNULL(X.CLOSE_DPERIODS,"") "closeDperiods",
				IFNULL(X.CLOSE_DPERIOD_UNIT,"") "unit"
  from t_redemption_info a
 inner join t_redemption_trade_info z
    on z.redemption_info_id = a.redemption_info_id
   and z.rc_state = 'E'
  left join t_pd_product b
    on a.pd_product_id = b.product_id
   and b.rc_state = 'E'
   and b.status = '2'
  left join t_cust_base_info c
    on a.customer_no = c.customer_no
   and c.rc_state = 'E'
  left join t_cust_contact_info e
    on c.cust_base_info_id = e.cust_base_info_id
  left join t_trade_info f
    on f.trade_info_id = z.trade_info_id
   and f.rc_state = 'E'
  left join t_trade_cust_info g
    on g.trade_info_id = z.trade_info_id
   and g.rc_state = 'E'
  left join t_trade_cust_address_rela h
    on h.trade_cust_info_id = g.trade_cust_info_id
   and h.rc_state = 'E'
   and h.trade_address_flag = '1'
  left join t_cust_address_info j
    on j.cust_address_info_id = h.cust_address_info_id
  left join t_trade_cust_acc_rela k
    on k.trade_cust_info_id = g.trade_cust_info_id
   and k.rc_state = 'E'
   and k.trade_acc_flag = '1'
  left join t_cust_acc_info l
    on l.cust_acc_info_id = k.cust_acc_info_id
  left join t_def_bank m
    on m.bank_id = l.bank_code
  left join t_agency_com n
    on n.agency_com_id = b.agency_com_id
   and n.rc_state = 'E'
  left join t_agent o
    on o.agent_id = c.agent_id
   and o.rc_state = 'E'
   LEFT JOIN t_pd_wealth x
	ON x.PRODUCT_ID = b.PRODUCT_ID
	AND x.RC_STATE = "E"
 where a.rc_state = 'E'
   and a.redemption_info_id = #{redemptionInfoId}	
   group by a.redemption_info_id
	</select>
	
	<!-- 赎回申请单打印次数语句 -->
	<select id="printTotal" parameterType="java.util.Map" resultType="java.lang.Integer">
 	select count(1)
  	from t_Def_Print_Info a
 	where a.business_no = #{redemptionInfoId}
   	and a.business_type = '2'
   	and a.rc_state = 'E'
	</select>
	
    <!-- 赎回申请下载页面条数 -->
	<select id="getRedemptionPrintCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    SELECT  count(1)
	  FROM T_DEF_PRINT_INFO PR
	 WHERE 1 = 1
	   AND PR.RC_STATE = 'E'
	   AND PR.BUSINESS_NO = #{redemptionInfoId}
	   AND PR.Business_Type='2'
	</select>
	<!--赎回下载页面初始化-->
	<select id="getRedemptionPrintList"  parameterType="java.util.Map" resultType="java.util.Map">
	
  <!--s-->
		select 
  			tAlias.* 
  		from
  			(
         		select 
         			nAlias.*, 
         			@rownum:=@rownum+1 r_rownum
         		from
         			(
         				SELECT (SELECT @rownum := 0),
         				   PR.PRINT_INFO_ID      "printInfoId",
         				   PR.BUSINESS_NO        "businessNo",
					       FUNC_GET_CODE_NAME('printBusinessType',PR.BUSINESS_TYPE)      "businessType",
					       PR.PRINT_FILE_NAME    "printFileName",
					       PR.FILE_SAVE_PATH	 "fileSavePath",
					       DATE_FORMAT(PR.PRINT_TIME, '%Y-%m-%d %H:%i:%S') "printTime"
  						FROM 
  							T_DEF_PRINT_INFO PR
   						WHERE 
   							1 = 1
   						AND 
   							PR.RC_STATE = 'E'
   					    AND PR.BUSINESS_NO = #{redemptionInfoId}
   						ORDER BY 
                 			PR.MODIFY_DATE DESC
 					) nAlias
			) tAlias 
		where 
			r_rownum >=#{startIndex} 
		and 
			#{endIndex} >= r_rownum 
    </select>
    
    <select id="getActuRedemptionInfo" parameterType="java.util.Map" resultType="java.util.Map">
    
    <!--s-->
    <!--DISTINCT-->
    	SELECT DISTINCT A.REDEMPTION_INFO_ID "redemptionInfoId",
       		TRIM(ROUND(IF(IFNULL(A.ACTU_REDEMPTION_TOTAL_SHARE,0)=0,A.REDEMPTION_TOTAL_SHARE,A.ACTU_REDEMPTION_TOTAL_SHARE),2)) "actuRedemptionTotalShare",
       		IF(IFNULL(A.ACTU_REDEMPTION_NET_VALUE,0)=0,C.NET_VALUE,A.ACTU_REDEMPTION_NET_VALUE) "actuRedemptionNetValue",
       		TRIM(ROUND(IF(IFNULL(A.ACTU_REDEMPTION_TOTAL_MONEY,0)=0,IF(IFNULL(A.ACTU_REDEMPTION_TOTAL_SHARE,0)=0,A.REDEMPTION_TOTAL_SHARE,A.ACTU_REDEMPTION_TOTAL_SHARE)*IFNULL(C.NET_VALUE,0),A.ACTU_REDEMPTION_TOTAL_MONEY),2)) "actuRedemptionTotalMoney"
		FROM T_REDEMPTION_INFO A JOIN T_PD_WEALTH B ON A.PD_PRODUCT_ID = B.PRODUCT_ID LEFT JOIN T_PD_WEALTH_NET_VALUE C
		ON B.PD_WEALTH_ID = C.PD_WEALTH_ID
	        AND A.REDEMPTION_OPENDAY = C.PUBLIC_DATE
	        AND A.REDEMPTION_INFO_ID = #{redemptionInfoId}
	        where C.NET_TYPE = '02'
	        AND A.RC_STATE = 'E'
	        AND B.RC_STATE = 'E'
	        AND C.RC_STATE = 'E'
    </select>
   <!--根据客户号查询购买的产品-->
   <select id="prodcutBycustNoQuery" parameterType="java.util.Map" resultType="java.util.Map">
   
select a.product_id "productId", a.product_name "productName"
  from t_pd_product a
 where a.product_id in
       (select b.PRODUCT_ID
          from 
          t_trade_info g,
          t_trade_cust_info         c,
               t_cust_base_info          f,
               t_trade_product_info_view b
         where f.customer_no =#{custNo}
           and f.rc_state = 'E'
           and f.cust_base_info_id = c.cust_base_info_id
           and c.rc_State = 'E'
           and c.trade_info_id = b.TRADE_INFO_ID
           and g.trade_info_id=c.trade_info_id
           and g.rc_state='E'
           and g.trade_staus='10')
   and a.rc_state = 'E'
   and a.status = '2'
   and a.product_type='1'
   and a.product_sub_type in('03','04')
 order by a.product_id
    </select>
    
    <!--获取赎回结论信息-->
   <select id="getDetailRedemptionUploadConclusion" parameterType="java.util.Map" resultType="java.util.Map">
   
   <!--F-->
   
	select a.remark "remark", 
       a.conclusion "conclusion"
  	from t_redemption_operation a
 	where a.rc_state = 'E'
  	 and a.redemption_operation_id  in
      (select max(b.redemption_operation_id)
          from t_redemption_operation b
         where b.rc_state = 'E'
           and b.redemption_info_id = #{redemptionInfoId}
           and b.operate_node='03')
    </select>
     <!--获取赎回明细上传实际参数信息-->
   <select id="getDetailRedemptionActuPrem" parameterType="java.util.Map" resultType="java.util.Map">
	select a.actu_redemption_total_money "actuRedemptionTotalMoney",
       a.actu_redemption_total_share "actuRedemptionTotalShare",
       a.actu_redemption_net_value   "actuRedemptionNetValue"
  	   from t_redemption_info a
 		where a.redemption_info_id = #{redemptionInfoId}
   		and a.rc_state = 'E'
    </select> 
    <select id="getRedemtionEmailData" parameterType="java.util.Map" resultType="java.util.Map">
	    SELECT 
			CONCAT(round(a.REDEMPTION_TOTAL_SHARE,2),'','份') "redemptionShares",
			d.PRODUCT_NAME "productName"
		FROM
			t_redemption_info a,
			t_pd_product d
		WHERE
				a.PD_PRODUCT_ID = d.PRODUCT_ID
			AND a.REDEMPTION_INFO_ID = #{redemptionInfoId}
			AND a.RC_STATE = "E"
			AND d.RC_STATE = "E"
    </select>
</mapper>  