<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.sinosoft.core.service.mapper.MenuServiceMapper">
    <select id="queryPrivilegecode" parameterType="com.sinosoft.core.db.model.DefPrivilege" resultType="com.sinosoft.core.db.model.DefPrivilege">
        select 
        	Privilege_Code "privilegeCode"
        from T_Def_Privilege  
        where Privilege_Type like '%menu%' 
        and rc_state='E'
        order by cast(privilege_code as SIGNED) desc
    </select>  
    
    <!-- 判断菜单是否有子菜单 -->
    <select id="queryMenuChildren" parameterType="com.sinosoft.core.db.model.DefPrivilege" resultType="com.sinosoft.core.db.model.DefPrivilege">
	    select 
	    	Privilege_Code "privilegeCode"
	    from t_def_Privilege 
	    where Privilege_Type like '%menu%' 
	    and Pid =#{privilegeId}
	    and rc_state='E'
     </select> 
     
     
    <!-- 修改菜单加载顺序 -->
    <update id="updateAllAfterNewNode" parameterType="map" >
    update T_DEF_PRIVILEGE
    set 
      NUM = NUM + 1,
      MODIFY_DATE = #{modifyDate,jdbcType=DATE},
      OPER_COM_ID = #{operComId,jdbcType=DECIMAL},
      MODIFY_USER_ID = #{modifyUserId,jdbcType=DECIMAL}
      where privilege_type like '%menu%' and num>= #{bd1} and privilege_id!=#{bd1}
      and rc_state='E'
  </update>
    
    <sql id="queryMenuListInfoSQL">
	   select  tdp.privilege_id 	"privilegeId",
		       tdp.privilege_code   "privilegeCode", 
		       tdp.privilege_name   "privilegeName", 
	       	   tdp.url            	"url",
	       	   (select @rownum:=0)
	   from t_def_privilege tdp
		where tdp.rc_state='E'
		<if test="privilegeCode!=null and privilegeCode!=''">
		   	and tdp.privilege_code like  '%${privilegeCode}%'
		</if>
		<if test="privilegeName!=null and privilegeName!=''">
		   	and tdp.privilege_name like  '%${privilegeName}%'
		</if>
		order by tdp.privilege_id
	</sql>
    <!-- 菜单信息列表查询（总记录数） -->
	<select id="queryMenuListInfoCounts" resultType="java.lang.Integer" parameterType="java.util.Map" >
		select count(1) from 
		(
      	  	<include refid="queryMenuListInfoSQL"/>
        )a
	</select>
	
	<!-- 菜单信息列表查询（分页查询） -->
	<select id="queryMenuListInfoPages" resultType="java.util.Map" parameterType="java.util.Map" >
        select tAlias.* from
		(
	         select nAlias.*, @rownum:=@rownum+1 r_rownum from
	         (
		         <include refid="queryMenuListInfoSQL"/>
		         
			 ) nAlias
		) tAlias where r_rownum >=#{queryStartIndex} and #{queryEndIndex} >= r_rownum
	</select>
    
</mapper>  