<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.sinosoft.core.service.mapper.UserServiceMapper">
    <select id="queryUserByUserID" parameterType="com.sinosoft.core.db.model.DefUser" resultType="com.sinosoft.core.db.model.DefUser">
        SELECT tdu.user_id  userId,
		       tdu.user_code userCode,
		       tdu.user_name userName,
		       tdu.store_id  storeId,
		       tdu.email     email,
		       tdu.department_id  departmentId,
		       tdu.com_id         comId,
		       tdu.create_date    createDate,
		       tdu.modify_date    modifyDate,
		       tdu.oper_com_id    operComId,
		       tdu.create_user_id createUserId,
		       tdu.modify_user_id createUserId,
		       tdu.password       password,
		       tdu.rc_state       rcState   
        FROM t_def_user  tdu
        WHERE tdu.rc_state='E'
        and tdu.user_id = #{userId}  
    </select>  
    
    
    <select id="queryUserByUserCode" parameterType="com.sinosoft.core.db.model.DefUser" resultType="com.sinosoft.core.db.model.DefUser">  
        SELECT tdu.user_id  userId,
		       tdu.user_code userCode,
		       tdu.user_name userName,
		    <!--    tdu.store_id  storeId, -->
		       tdu.email     email,
		       tdu.department_id  departmentId,
		       tdu.com_id         comId,
		       tdu.create_date    createDate,
		       tdu.modify_date    modifyDate,
		       tdu.oper_com_id    operComId,
		       tdu.create_user_id createUserId,
		       tdu.modify_user_id createUserId,
		       tdu.password       password,
		       tdu.STATE state,
		       tdu.rc_state       rcState   
        FROM t_def_user  tdu
        WHERE tdu.rc_state='E'
        and tdu.user_code = #{userCode}  
    </select>
    
    <select id="queryUserByUserName" parameterType="com.sinosoft.core.db.model.DefUser" resultType="com.sinosoft.core.db.model.DefUser">  
       SELECT tdu.user_id  userId,
		       tdu.user_code userCode,
		       tdu.user_name userName,
		      <!--  tdu.store_id  storeId, -->
		       tdu.email     email,
		       tdu.department_id  departmentId,
		       tdu.com_id         comId,
		       tdu.create_date    createDate,
		       tdu.modify_date    modifyDate,
		       tdu.oper_com_id    operComId,
		       tdu.create_user_id createUserId,
		       tdu.modify_user_id createUserId,
		       tdu.password       password,
		       tdu.rc_state       rcState   
        FROM t_def_user  tdu
        WHERE tdu.rc_state='E'
        and tdu.user_name = #{userName} 
    </select>
    
     <select id="queryRolesByUserId" parameterType="com.sinosoft.core.db.model.DefUser" resultType="com.sinosoft.core.db.model.DefRole">  
        select tdr.role_id  roleId,
		       tdr.role_code roleCode,
		       tdr.role_name roleName,
		       tdr.role_privilege rolePrivilege,
		       tdr.rc_state       rcState,
		       tdr.create_date    createDate,
		       tdr.modify_date    modifyDate,
		       tdr.oper_com_id    operComId,
		       tdr.create_user_id createUserId,
		       tdr.modify_user_id createUserId
		  	from t_def_user tdu
		 inner join t_def_user_role_rela tdurr
		    on tdu.user_id = tdurr.user_id
		    and tdurr.rc_state = 'E'
		 inner join t_def_role tdr
    		on tdurr.role_id = tdr.role_id
         where tdu.user_id = #{userId} 
    </select>
    
    <select id="queryUserRolePrivilegeByUserId" parameterType="com.sinosoft.core.db.model.DefUser" resultType="java.lang.String">  
        select max(role_privilege)
		from t_def_role tdr
		left join t_def_user_role_rela tdrr
		    on tdr.role_id = tdrr.role_id
		    and tdrr.rc_state='E'
		  where tdr.rc_state='E'
  		and tdrr.user_id= #{userId} 
    </select>
    
    
    <sql id="queryUserListInfoSQL">
	    select 
	    	   (SELECT @rownum := 0),	
	    	   tdu.user_id 							"userId",<!-- 用户ID -->
	    	   tdu.user_code 						"userCode",<!-- 用户编码 -->
			   tdu.user_name        				"userName", <!--用户名称  -->
			   CONCAT(tdc.com_code,'-',tdc.com_name)        "comId",	<!-- 所属机构 -->
			   <!-- CONCAT(tds.store_code,'-',tds.store_name)    "storeId", --><!-- 所属网点 -->
			   CONCAT(tdd.department_code,'-',tdd.department_name)    "departmentId", <!-- 所属业务部 -->
			   CONCAT(tdu.state,'-',tcode.code_name)   "state",					<!-- 用户状态 -->
			   tdu.validstart_date  "validatestartDate"		<!-- 有效开始日期 -->
		from t_def_user tdu
		left join t_def_com tdc
		on tdu.com_id = tdc.com_id
		left join t_def_store tds
		on tdu.store_id = tds.store_id
		left join t_def_department tdd
		on tdu.department_id = tdd.department_id
		left join t_def_code tcode
		on tcode.code_type='userState'
		and code=tdu.state
		where tdu.rc_state='E'
		<if test="comId!=null and comId!=''">
		   	and tdu.com_id = #{comId}
		</if>
		<if test="userName!=null and userName!=''">
		   	and tdu.user_name like '%${userName}%'
		</if>
		<if test="userCode!=null and userCode!=''">
		   	and tdu.user_code like '%${userCode}%'
		</if>
		
	</sql>
    <!-- 用户信息列表查询（总记录数） -->
	<select id="queryUserListInfoCounts" resultType="java.lang.Integer" parameterType="java.util.Map" >
		select count(1) from 
		(
      	  	<include refid="queryUserListInfoSQL"/>
        )a
	</select>
	
	<!-- 用户信息列表查询（分页查询） -->
	<select id="queryUserListInfoPages" resultType="java.util.Map" parameterType="java.util.Map" >
        select tAlias.* from
		(
	         select nAlias.*, @rownum:=@rownum+1 r_rownum from
	         (
		         <include refid="queryUserListInfoSQL"/>
		         
			 ) nAlias
		) tAlias where r_rownum >=#{queryStartIndex} and #{queryEndIndex} >= r_rownum
	</select>
    
</mapper>  