<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.eighth.dao.IUserChecksDao">
 	<select id="selectAll" resultType="com.eighth.entity.UserChecks">
 		select * from userchecks
 		<where>
 			<if test="UserName!=null">and UserName like '%${UserName}%'</if>
 			<if test="checkInTime!=null">and CheckInTime <![CDATA[>]]> '${checkInTime}'</if>
 			<if test="CheckOutTime!=null">and CheckInTime <![CDATA[<]]> '${CheckOutTime}'</if>
 			<if test="checkState!=null">and CheckState='${checkState}'</if>
 		</where> ORDER BY CheckInTime desc limit #{page},#{rows}
 	</select>
 	
 	<select id="selectCount" resultType="int">
 		select count(9) from userchecks
 		<where>
 			<if test="UserName!=null">and UserName like '%${UserName}%'</if>
 			<if test="checkInTime!=null">and CheckInTime <![CDATA[>]]> '${checkInTime}'</if>
 			<if test="CheckOutTime!=null">and CheckOutTime <![CDATA[<]]> '${CheckOutTime}'</if>
 			<if test="checkState!=null">and CheckState='${checkState}'</if>
 		</where>
 	</select>
 	
 	<insert id="insertUserChecks" parameterType="com.eighth.entity.UserChecks">
 		insert into userchecks(UserId,UserName,CheckState) values(#{userId},#{UserName},#{checkState})
 	</insert>
 	
 	<select id="selectUserChecksByUserIDAndDate" resultType="com.eighth.entity.UserChecks">
 		select * from userchecks where UserId=#{userId} and CheckInTime like '%${checkInTime}%'
 	</select>
 	<!-- 签退 -->
 	<update id="updateUserChecksState" parameterType="com.eighth.entity.UserChecks">
 		update userchecks set CheckState=#{checkState},CheckOutTime=#{CheckOutTime} where UserId=#{userId} and DATE_FORMAT(checkintime,'%y-%m-%d')=DATE_FORMAT(NOW(),'%y-%m-%d')
 	</update>
 </mapper>