
/*宸﹁彍鍗�?*/
 .personal_menu{
	width:210px;
	float:left;
}

 .personal_menu .menu_main .menu_title{
/* 	font-weight:bold; */
	display: block;
	background:#fff;
	font-size:12px;
	border:1px solid #c8f0f9;
}

 .personal_menu .menu_main .menu_title .menu_title_link{
/* 	padding-left:50px;
	height:36px;
	line-height:39px;
	color:#c7000a; */
	display: block;
	height:40px;
	line-height:40px;
	color:#1a3481;
	font-family:"微软雅黑";
	font-size:16px;
	text-align:center;
/* 	background: url(../img/icon1.png) 25px center no-repeat; */
	background: url(../img/menu_bg_03.png) repeat-x;
}


 .personal_menu .menu_main .menu_item{
/*  font-weight:bold; */
	font-size:12px;
	display: block;
	background:#93d9f9;
	border:1px solid #c8f0f9;
	border-top:0;
}

 .personal_menu .menu_main .menu_item .menu_link {
	display:block; 
/* height:36px;
	line-height:36px;
	*/
	/* background: url(../img/icon_02.png) 163px center no-repeat; */
	height:38px;
	line-height:38px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#666;
	padding-left:20px;
}
 .personal_menu .menu_main .select .menu_link{
/* 	color:#c7000a; */
	color:#1a56a6 ! important ;
	background: url(../img/arr2.png) 136px center no-repeat;
}


 .personal_menu .menu_main .menu_item.select,  .personal_menu .menu_main .menu_item:hover{
	background:#f0f6fa;

} 


 .personal_menu .menu_main .submenu .submenu_item{
	padding:0 12px;
	background:#dbf7ff;
	font-weight:normal;
}

 .personal_menu .menu_main .submenu .submenu_item a{
 
	display:block;
	height:32px;
	text-align:left;
	background: url(../img/icon_02.png) 123px center no-repeat;
	margin-left:26px;
	line-height:32px;
	font-family:"微软雅黑";
	font-size:12px;
	color:#696969;
/* 	color:#999 ! important; */
	border-bottom:1px #b3eaff solid;
}

 .personal_menu .menu_main .submenu .submenu_item.last a{
	border-top:1px #d2e0e6 solid;
	border-bottom:none;
}

.personal_menu .menu_main .submenu .submenu_item:hover a, .personal_menu .menu_main .submenu .submenu_item .submenu2 .submenu_item2:hover a{
	color:#666;
/* 	color:#1a56a6 ! important ; */
} 
/* .personal_menu .menu_main .submenu .submenu_item:hover a, .personal_menu .menu_main .submenu .submenu_item .submenu2 .submenu_item2:hover a{
	color:#666 ! important ;
} */
 .personal_menu .menu_main .submenu .submenu_item:active a, .personal_menu .menu_main .submenu .submenu_item .submenu2 .submenu_item2:active a{
	color:#1a56a6 ! important ;
} */
 .personal_menu .menu_main .submenu .submenu_item.select a, .personal_menu .menu_main .submenu .submenu_item .submenu2 .submenu_item2.select2 a{
	border-bottom:none;
	color:#c7000a;
/* 	color:#1a56a6 ! important ; */
}
 .personal_menu .menu_main .menu_item.select .submenu, .personal_menu .menu_main .menu_item.select .submenu2{
	display: block;
	border-top:1px solid #d2e0e6;	
	position:relative;
}
 .personal_menu .menu_main .menu_item.select .submenu2{
	padding-left:15px;	
}
 .personal_menu .menu_main .menu_item.select .submenu2 a{

	color:#696969;
}

/*鍙充晶涓婂唴瀹�*/
 .personal_content{
	height:725px;
	min-width:1280px;
}
.content_main{
	padding-left:175px;
}
 .personal_content .nav_index{
	height:36px;
	padding-left:175px;
}
 .personal_content .nav_index li{
	line-height:38px;
	font-size:12px;
	display:inline;
}

 .personal_content .nav_index li.right{
	float:right;
	padding-right:20px;
}
 .personal_content .nav_index li.right span{
	color:#696969;
}
 .nav_index li a{
	color:#696969;
}
 .nav_index li.at a{
	color:#c7000a;
/* 	color:#1a56a6 ! important ; */
}



