<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.eighth.dao.IRoleModulesDao">
  	
  	<select id="selectModuleId" resultType="com.eighth.entity.RoleModules">
  		select * from rolemodules where RoleId=#{id}
  	</select>
  	
  	<insert id="insertRoleModules">
  		INSERT INTO rolemodules(RoleId,ModuleId) VALUES(#{0},#{1})
  	</insert>
  	<delete id="deleteRoleModules">
  		delete from rolemodules where RoleId=#{roleid}
  	</delete>
  </mapper>