<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eighth.dao.IUsersDao">
	<!-- 查询数据总条数 -->
	<select id="getCount" resultType="int">
		<!-- select count(*) from users where UserIsDel=0 -->
		select count(9) from users
			<where>
				<if test="userName!=null">and UserName like '%${userName}%'</if>
				<if test="userEmail!=null">and UserEmail like '%${userEmail}%'</if>
				<if test="userPhone!=null">and UserPhone like '%${userPhone}%'</if>
				and UserIsDel=0 
			</where>
	</select>
	<select id="selectlistPage" resultType="com.eighth.entity.Users">
		select * from users
			<where>
				<if test="userName!=null">and UserName like '%${userName}%'</if>
				<if test="userEmail!=null">and UserEmail like '%${userEmail}%'</if>
				<if test="userPhone!=null">and UserPhone like '%${userPhone}%'</if>
				and UserIsDel=0 order by UserCreateTime desc
			</where> limit #{page},#{rows}
	</select>
	<!-- 新增用户 -->
	<insert id="insertUsers" parameterType="com.eighth.entity.Users">
		insert into users(UserId,UserName,UserPASSWORD,UserEmail,UserPhone)
		values(#{userId},#{userName},#{userPASSWORD},#{userEmail},#{userPhone})
	</insert>
	<!-- 修改用户 -->
	<update id="updateUsers" parameterType="com.eighth.entity.Users">
		update users set
		UserName=#{userName},UserEmail=#{userEmail},UserPhone=#{userPhone}
		where UserId=#{userId}
	</update>
	<!-- 删除用户 -->
	<delete id="deleteUsers">
		update users set UserIsDel=1 where UserId=#{id}
	</delete>
	<!-- 重置密码 -->
	<update id="updateUsersPwdById">
		update users set UserPASSWORD='eight123' where UserId=#{id}
	</update>
	<!-- 锁定用户 -->
	<update id="updateUsersLockTrueById">
		update users set UserIsLockout='是' where UserId=#{id}
	</update>
	<!-- 解锁用户 -->
	<update id="updateUsersLockFalseById">
		update users set UserIsLockout='否' where UserId=#{id}
	</update>
	<!-- 查询用户名是否存在 -->
	<select id="selectUserNameByuserName" parameterType="com.eighth.entity.Users" resultType="com.eighth.entity.Users">
		select * from users where UserName=#{userName}
	</select>
	<!-- 查询密码是否正确 -->
	<select id="selectUserPwdByUserName" parameterType="com.eighth.entity.Users" resultType="com.eighth.entity.Users">
		select * from users where UserName=#{userName} and UserPASSWORD=#{userPASSWORD}
	</select>
	
	<!-- 查询用户是否被锁定 -->
	<select id="selectIfLock" parameterType="com.eighth.entity.Users" resultType="String">
		select UserIsLockout from users where UserName=#{userName}
	</select>
	<!-- 记录密码错误次数 -->
	<update id="updateLocknum" parameterType="com.eighth.entity.Users">
		update users set UserPsdWrongTime=#{userPsdWrongTime} where UserName=#{userName}
	</update>
	<!-- 清楚密码错误次数 -->
	<update id="updateClearLocknum">
		update users set UserPsdWrongTime=0 where UserId=#{userId}
	</update>
	<!-- 根据用户名查询ID -->
	<select id="selectUserIdByUserName" parameterType="com.eighth.entity.Users" resultType="String">
		select UserId from users where UserName=#{userName}
	</select>
	
	<!-- 修改密码-->
	<update id="updatePwd" parameterType="com.eighth.entity.Users">
		update users set UserPASSWORD=#{userPASSWORD} where UserId=#{userId}
	</update>
	
	<!-- 根据ID查询名称 -->
	<select id="selectNameById" resultType="String">
		select UserName from users where UserId=#{id}
	</select>
	
	<!-- 添加最后登录时间  -->
	<update id="updateLastLoginTime">
		update users set UserLastLoginTime=NOW() where userName=#{0}
	</update>
</mapper>